
/* General styling */
:root{
    --primary-color: #373737;
    --secondary-color: #FFC200;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Calibri;
    color: #000;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 17px;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px, 0;
}

p{
    margin: 10px, 0;
}

img{
    width: 100%;
}


/* Utilty styling */
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0, 40px;
}

.card{
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.btn-outline{
    background-color: transparent;
    border: 1px var(--secondary-color) solid;
}

.btn:hover{
    transform: scale(0.97);
    color: #FFF;
}

/* Backgrounds and coloured buttons */
.bg-primary, .btn-primary{
    background-color: var(--primary-color);
    color: #FFF;
}

/* Text sizes */
.lead{
    font-size: 17px;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}

.lg{
    font-size: 50px;
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}

.my-4{
    margin: 3rem 0;
}

.my-5{
    margin: 4rem 0;
}


.mx-1{
    margin: 0 1rem;
}

.mx-2{
    margin: 0 1.5rem;
}

.mx-3{
    margin: 0 2rem;
}

.mx-4{
    margin: 0 3rem;
}

.mx-5{
    margin: 0 4rem;
}


.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem;
}

.m-4{
    margin: 3rem;
}

.m-5{
    margin: 4rem;
}


/* Padding */
.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}

.py-4{
    padding: 3rem 0;
}

.py-5{
    padding: 4rem 0;
}


.px-1{
    padding: 0 1rem;
}

.px-2{
    padding: 0 1.5rem;
}

.px-3{
    padding: 0 2rem;
}

.px-4{
    padding: 0 3rem;
}

.px-5{
    padding: 0 4rem;
}


.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.5rem;
}

.p-3{
    padding: 2rem;
}

.p-4{
    padding: 3rem;
}

.p-5{
    padding: 4rem;
}

/* Navbar Styling */
.navbar{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 80px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #FFF;
    font-size: 18px;
    padding: 10px;
    margin: 0 4px;
}

.navbar a:hover{
    color: var(--secondary-color);
    border-bottom: 2px var(--secondary-color) solid;
}

.navbar .flex{
    justify-content:space-between;
}

.logo{
    width: 460px;
    margin-right: 40px;
}


/* Footer styling */
.footer{
    margin-top: 40px;
    padding: 40px;
    background-color: var(--primary-color);
    border-top: 20px #999999 solid;
}

.footer .container h1{
    font-size: 35px;
    color: #FFF;
}

.footer .container a, p{
    font-size: 18px;
    color: #FFF;
}

.footer a:hover{
    color: var(--secondary-color);
}
